header a { text-decoration: none; color: white; }
.bg-blue { background: rgb(29, 65, 127); }
.navbar { display: flex; padding: 1em; }
.nav-logo { display: inline-block; }
.nav-logo .logo-text { font-size: 1.5em; font-weight: bolder; }
.navbar-nav { display: flex; list-style: none; }

.nav-item { list-style: none; }
.nav-link { padding: 0.5em; display: block; }

.container { width: 100%; }
.container .row { display: flex; flex-wrap: wrap; }
.container .row .col-left { flex-basis: 0; flex-grow: 1; max-width: 16.666667%; height: 100%; max-height: 100%; }
.container .row .col-right { flex-basis: 0; flex-grow: 1; width: auto; max-width: 100%; }

.majors { list-style: none; background: rgb(254, 252, 162); }
.major-item { padding: 0.5em; }
.major-link { text-decoration: none; color: black; font-weight: lighter; color: rgb(53, 53, 53); }

.container .row .col-right { padding: 0.5em; margin: 0.5em; }
.container .row .col-right > div { margin: 0.5em 0; padding: 0.75em; background: rgb(175, 224, 214); }
.container .row .col-right > div img { float: left; margin-right: 1em; }
.container .row .col-right > div p { padding: 0.25em; }

footer ul { display: flex; flex-wrap: wrap; padding: 0; list-style: none; background: rgb(123, 123, 123); }
footer ul li { width: 25%; text-align: center; }
footer ul li a { display: block; padding: 0.25em 1em; text-orientation: none; color: white; font-weight: bold; }
